In [10]:
"""
開啟一個rds-example.ipynb
用PyMySQL套件連結至mysql進行
創建資料庫，資料表，插入資料，查詢資料

"""
#引用套件(dockerfile 沒有RUN成功.......?)
!pip install PyMySQL
import pymysql
    #登入資料庫(python,mysql支持中文-utf-8编码)
db = pymysql.connect(host='cc104.mysql', user='root', port=3306, passwd='db', db='', charset='utf8')
    # 使用 cursor() 方法創建一個游標對象 cursor
cursor = db.cursor()
    # 使用 execute()  方法執行 SQL 查詢
cursor.execute("SELECT VERSION()")
    # 使用 fetchone() 方法來取得紀錄.
data = cursor.fetchone()
    #顯示版本
print ("Database version : %s " % data)


    #若mission10資料庫存在就刪除
cursor.execute("drop database if exists mission10")
    #建立mission10資料庫
cursor.execute("CREATE DATABASE mission10")
cursor.execute("SHOW DATABASES")
    #顯示資料庫
for x in cursor:
  print(x)

    #選取 mission10 資料庫
cursor.execute("use mission10")


    ##用SQL語法，建立資料表欄位
sql = '''CREATE TABLE student (
        #使ID欄位自動編號，由0開始以1累加，將ID欄位設成主鍵
        ID int NOT NULL AUTO_INCREMENT PRIMARY KEY,
        Name varchar(20) NOT NULL,       #名字不會超過10個字 = 不會超過 20Bytes
        class varchar(20) NOT NULL,     #班級設定20Bytes
        number int)                         #號碼欄位
'''

cursor.execute(sql)

    #定義資料庫語法 (%s)數量取決於資料有幾種
sql = 'INSERT INTO student values (%s,%s,%s,%s)'
cc= {(1,'ass', 'cc104', 24), 
     (2,'tiger', 'cc104', 5), 
     (3,'yoda', 'cc104', 4)}
  
    #插入資料表
cursor.executemany(sql,cc)


#提交語句到資料庫
db.commit()



#cursor.execute('select * from student')

Requirement already satisfied: PyMySQL in /opt/conda/lib/python3.7/site-packages (0.9.3)
Database version : 10.3.12-MariaDB-1:10.3.12+maria~bionic
('information_schema',)
('mission10',)
('mysql',)
('performance_schema',)